<!DOCTYPE html>
<html lang="en">
    <%- include("partials/header") %>
<body>
<div class="wrapper">
        <h1>Har kan du lage deg en bruker</h1>
        <form action="" method="post">
            <input type="text" name="navn" id="navn" placeholder="colin smith">
            <input type="text" name="epost" id="epost" placeholder="colinsm@gmail.no">
            <input type="text" name="mobil" id="mobil" placeholder="55554444">
            <input type="text" name="adresse" id="adresse" placeholder="Olavsgate 12">
            <input type="password" name="passord" id="passord" placeholder="sterkt passord">
            <input type="password" name="gjentapassord" id="passord" placeholder="gjenta passord ">
            <button>Registrer bruker</button>
        </form>
        <a href="/login">Har du allerede en bruker? Log in her</a>
    </div>
</body>
</html>