<!DOCTYPE html>
<html lang="en">
    <%- include("partials/header") %>
<body>
    <h1>
        Velkommen til Colins og Monicas bibiolotek system
    </h1>
    <h2>Her kan du lånne alle slags spennende bøker</h2>
    <a href="/login">login</a>
    <a href="/register">registrer</a>
</body>
</html>