<!DOCTYPE html>
<html lang="en">
    <%- include("partials/header") %>
<body>
    <div class="wrapper">
        <h1>Her kan du registrere bøker til lånns</h1>
        <form action="" method="post">
            <input type="text" name="forfatter" id="forfatter" placeholder="forfatter">
            <input type="text" name="tittle" id="tittle" placeholder="tittle">
            <input type="number" name="antallSider" id="antallSider" placeholder="antall Sider">
            <input type="text" name="forlag" id="Forelag" placeholder="Forelag">
            <input type="text" name="ISBN" id="ISBN" placeholder="ISBN">
            <input type="number" name="arstall" id="arstall" placeholder="års tall">
            <button>registrer</button>
        </form>
    </div> 
</body>
</html>